@import "./global/normalize";
@import "./global/variables";
@import "./global/mixin";
@import "./global/mapas";
@import "./global/extend";
@import "./global/whatsapp";

@import "./global/cdn";
// @import "header";
// @import "footer";
@import "./global/animaciones";


* {
  box-sizing: border-box;
  color: #747474;
}

.hijo {
  height: calc(100vh - 55px);
}

.menu-user{
  display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    right: 1rem;
    position: absolute;
    top: 29px;
    width: 100%;
  .dropdown{
    .dropdown-toggle{
      display: flex;
      align-items: center;
      gap: 11px;
      padding: 7px;
      background: #070d1b!important;
      border-color: #070d1b!important;
      .active-sesion{
        margin-bottom: 0;
        color: #fff;
      }
    }
    .fa-user-check{
      color: #fff;
    }
  }
}