@import "../../../assets/scss/estilos.scss";
.main-container {
    .contacto-contenido {
    @include styleMainGlobal (0,auto,2rem,2rem,$border_main,$shadow_main);
        .contacto-containerA {
            & p {
                text-align: justify;
                line-height: 32px;
            }
            .contacto-btn {
                padding-top: 10px;
                text-align: center;
            }

        }

        .contacto-containerB {

            .icono-ubuicacion {
                display: flex;
                margin-bottom: 1rem;
                >p {
                    line-height: normal;
                    margin-bottom: 0;
                }
            }

             & iframe {
                width: 100%;
                border-radius: 20px;
                height: 400px;

            }

        }
    }

}


/**************** Para Tablet **********************/
@media (max-width: $medium) {
    .main-container .contacto-contenido {
        padding: 2rem;
    }

    .contacto-contenido .contacto-containerB iframe {
        height: 400px;
    }
}

/**************** Para Moviles **********************/

@media (max-width: $small) {
    .main-container {
        .contacto-contenido {
            padding: 1rem;
            gap: 40px;

            .contacto-containerB iframe {
                height: 300px;
            }
        }
    }
}