.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070d1b;
  height: 55px;
  .redes {
    margin-left: 10px;
    font-size: 20px;
    letter-spacing: 8px;
    > a {
      text-decoration: none;
      color: #fff;
    }
  }
  p{
    color: #fff;
  }
  > img {
    margin-right: 10px;
  }
}

/* Tablet y Movil*/

@media (max-width: 993px) {
  .footer {
    display: flex;
    align-items: center;

    .redes {
      margin: 0 auto;
      letter-spacing: 10px;
    }

    > {
      p,
      img {
        display: none;
      }
    }
  }
}
